

 <div class="row">
   <div class="col-md-3">
        <h3>All Games</h3>
    <% @games.each_with_index do |game, index| %>
      <div class="media">
        <div class="media-body">
          <div class="media-heading">
            <%= link_to game, class: "index-link" %>
            game: <%= index %>
            active: <%= game.active %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
   <div class="col-md-3">
       <h3>Joinable Games</h3>
    <% @games_with_one_player.each_with_index do |game, index| %>
    <% unless game.users.include?(@user) %>
      <div class="media">
        <div class="media-body">
          <div class="media-heading">
            <%= link_to "join", edit_game_path(game.id) %>
            game: <%= index %>
            active: <%= game.active %>
            </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>  
   <div class="col-md-3">
     <%= link_to "New Game", new_user_game_path(@user), class: 'btn btn-success' %>
   </div>
 </div>
